<!-- flex-layout -->
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>hello world</span>
    <span>hello world</span>
    <span>hello world</span>
    <span>hello world</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>hello world</span>
    <span>hello world</span>
    <span>hello world</span>
  </div>
</div>

<!-- sample mat form -->
<form>
  <mat-form-field>
    <input matInput placeholder="Favorite food" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
  </mat-form-field >

  <button mat-raised-button color="primary" class="mr1" (click)="getUser()">Get User</button>
  <button mat-raised-button color="primary" class="mr1">Submit</button>
  <button mat-raised-button>Cancel</button>
</form>

<!-- sample shared component -->
<app-shared></app-shared>

<!-- sample icon -->
<i class="material-icons">android</i>
